<template>
  <div class="row">
    <div class="container">
      <kategoriekle @Kategoriekle="Kategoriekle($event)" :kategoridesc="kategoridesc" />
      <KategoriList
        :kategoriListesi="kategoriListesi"
        v-for="kategoriListesi in kategoriListesi"
        :key="kategoriListesi.id"
      />
    </div>
  </div>
</template>

<script>
import kategoriekle from "@/components/Admin/kategoriekle";
import KategoriList from "@/components/Admin/KategoriList";
import axios from "axios";
export default {

  components: {
    kategoriekle,
    KategoriList
  },
  methods: {
    Kategoriekle(Kategoriekle) {
      return axios
        .post("http://localhost:3000/api/Kategoriekle/", Kategoriekle)
        .then(response => {});
    }
  },
  async asyncData(context) {
    let [pageRes, countRes] = await Promise.all([
      axios.get("http://localhost:3000/api/kategoriler")
    ]);
        console.log(pageRes.data.kategoriler)
    return {
      kategoriListesi: pageRes.data.kategoriler
    };
  }
};
</script>
<style  scoped>
</style>