<template>
  <div class="container">
    <div class="Orta">
      <MasalEkle @Masal="Masal($event)" :kategori="kategori" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import MasalEkle from "@/components/Admin/MasalEkle";
export default {

  components: {
    MasalEkle
  },

  methods: {
    Masal(Masal) {
      return axios
        .post("http://localhost:3000/api/MasalYaz/", Masal)

        .then(response => {});
    }
  },
  asyncData() {
    return axios
      .get("http://localhost:3000/api/kategoriler/")

      .then(response => {
        return {
          kategori: response.data.kategoriler
        };
      });
  }
};
</script>

<style scoped>
.Orta {

  background-color: #fff;
}
</style>