<template>
  <div class="container">
    <div>
      <div class="detay-ust col-md-12 col-sm-12 col-xs-12">
        <div class="resim col-md-5 col-sm-5 col-xs-12">
         <img :src="'/uploads/'+ Masaldetay.selectedFiles" :alt="Masaldetay.title" />
        </div>
        <div class="yazilar col-md-4 col-sm-4 col-xs-12">
          <h3>{{Masaldetay.title}}</h3>
          <strong>Yazar: {{Masaldetay.yazar}}</strong>
          <br />
          <br />
          <strong class="subtitle">{{Masaldetay.title}} kısa, uzun ve özet masal ve hikaye oku.</strong>
        </div>
        <div class="reklan col-md-3 col-sm-3 col-xs-12">
          <h1>Reklam</h1>
        </div>
      </div>

      <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="text ">
      <div v-html="Masaldetay.text"></div>
     
      </div>
          <div>
             <div class="yorumlar">
            <h3>Yorumlar</h3>
                <hr>
                 <yorumgoster :YorumlariGoster='YorumlariGoster' v-for="YorumlariGoster in YorumlariGoster "  :key="YorumlariGoster.id"/>
          </div>
          </div>
      </div>
     
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="yorumekle col-md-12 col-sm-12 col-xs-12">
       <Yorumekle @yorumlar='yorumlar($event)' :masal_id='masal_id' />
       <hr>
     </div>
      <div class="son">
          <Sonmasallar  :sonmasal="sonmasal" v-for="sonmasal in sonmasal" :key="sonmasal.id" />
      </div>
     
     
      </div>
    </div>
  </div>
</template>
<script>
import Sonmasallar from "@/components/Masallar/Sonmasallar";
import yorumgoster from '@/components/common/yorumgoster';
import Yorumekle from '@/components/common/Yorumekle';
import axios from 'axios'
export default {
  components: {
    Sonmasallar, yorumgoster,Yorumekle
  },
  head() {
    return {
      title: this.Masaldetay.title + " Masal ve Hikaye Özeti oku",
      meta: [
        {
          hid:
            this.Masaldetay.title +
            " Masal özeti " +
            this.Masaldetay.title +
            " kısa ve uzun masal ve hikaye oku",
          name: this.Masaldetay.title,
          content:
            this.Masaldetay.title +
            " Masal özeti," +
            this.Masaldetay.title +
            " kısa ve uzun masal ve hikaye oku",
            description: "kısa,uzun ve özet " + this.Masaldetay.title + " masal ve hikaye oku. Çocukların en beğendi " + this.Masaldetay.title + " oku",
            
        },

      ]
    };
  },
  async asyncData(context) {
    let [pageRes, countRes, yorumcek] = await Promise.all([
      axios.get("http://localhost:3000/api/masal/" + context.params.detayID),
      axios.get("http://localhost:3000/api/sonmasal/"),
       axios.get('http://localhost:3000/api/yorumlaricek/' + context.params.detayID),
      
     
    ]);
    return {
      masal_id:pageRes.data.masaldetay[0].id,
      Masaldetay: pageRes.data.masaldetay[0],
      sonmasal: countRes.data.sonmasal,
       YorumlariGoster: yorumcek.data.yorumlar
    };
  },
   methods:{
    yorumlar(yorumlar){
      return axios.post('http://localhost:3000/api/yorumEkle/', yorumlar)
      .then((response) => {
          
      })
    }
  },
};
</script>
<style  scoped>

.yorumekle{
  margin-top: 20px;
    background-color: #6c9ffb;
    padding: 10px;
     box-shadow: 0 3px 6px rgba(41,41,41,0.2);
     border-radius: 10px;color: white
}
.detay-ust {
  background-color: #6c9ffb;
  min-height: 200px;
  border-radius: 20px;
  box-shadow: 0 3px 6px #29292933;
  margin-top: 20px
}
.yorumlar{
    background-color: #5268e7;
    box-shadow: 0 3px 6px rgba(41,41,41,0.2);
    padding:10px;
    color:white;
}
.resim {
  padding: 10px;
}
.resim img {
  width: 100%;
  box-shadow: 0px 0px 12px 4px rgb(82, 104, 231);
  height: 250px;
  border-radius: 10px
}
.yazilar {
  text-align: center;
  padding-top: 20px;
}
.text {
  margin-bottom: 10px;
  background-color: #5268e7;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 22px;
  box-shadow: 0 3px 6px #29292933;
  color: white;
}
@media only screen and (max-width: 600px) {
}
</style>