<template>
<div >
       <div class="footer">
        <div class="container">
            <div class="ust-resim">

            </div>
        </div>
    </div>
</div>
 
</template>

<style scoped>
.footer{
    margin-top:40px;
    background-color: #5B8BF5;
    min-height: 100px;
    position: relative;;
  left: 0;
  bottom: 0;
  width: 100%;
}
.ust-resim{
    background-image: url("~@/assets/footer.svg");
    height: 55px;
    width: 100%;
    margin-top:-25px;
}
</style>