<template>
  <div class="container">
    <div class="row">
      <div class="sosial">
        <ul>
          <nuxt-link to="/biz/iletisim" tag="li"> <span class="material-icons">email</span></nuxt-link>
       
          <li>
            <span class="material-icons">portrait</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="logo">
      <nuxt-link to="/">
        <img src="@/assets/logo.svg" alt="Masallar Logo" />
      </nuxt-link>

      <Navbar :kategori="kategoriler" />
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/common/Navbar";
export default {
  components: {
    Navbar
  },
  computed: {
    kategoriler() {
      return this.$store.getters.getKat;
    }
  }
};
</script>

<style  scoped>
li span {
  color: yellow;
}
.logo {
  display: flex;
  justify-content: flex-start;
}
.logo img {
  margin-top: -15px;
}
.sosial ul {
  float: right;
}
.sosial ul li {
  display: inline;
}
</style>