<template>
    <div class="container">
        <div class="iletisim">
            <h1>iletişim</h1>
        </div>
         </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.iletisim{
    width: 100%;
    padding: 20px;
    background-color: #5b8bf5;
    border-radius: 20px;
    margin-top:30px
  
}
</style>