<template>
  <div class="menu">
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <nuxt-link to="/" active-class="active" exact tag="li">
            <a>
              <span class="material-icons">house</span>
              <div class="kategoriler">
                <strong>Anasayfa</strong>
              </div>
            </a>
          </nuxt-link>
        </ul>
        <ul class="nav navbar-nav left">
          <nuxt-link
            v-for="kategori in kategori"
            :key="kategori.id"
            :to='"/" + kategori.slug'
            active-class="active"
            exact
            tag="li"
          >
            <a>
              <span class="material-icons">sentiment_very_satisfied</span>
              <div class="kategoriler">
                <strong>{{kategori.kategoriadi}}</strong>
              </div>
            </a>
          </nuxt-link>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  props:{
    kategori:{
      required:true
    }
  }
};
</script>

<style  scoped>
.kategoriler {
  display: flex;
  margin-top: -27px;
  margin-left: 25px;
  font-size: 12px;
  text-shadow: 0px 1px 2px #505050;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Oxygen", sans-serif;
}
.menu {
  position: absolute;
  margin-left: 180px;
  min-width: 68%;
  z-index: 1;
  max-width: 70%;
}
.material-icons {
  align-self: baseline;
  text-shadow: 0px 1px 2px #505050;
  font-size: 25px;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-weight: 600;
}
.navbar-inverse {
  margin-left: 20px;
  background-color: #5067e875;
  box-shadow: 0 3px 6px #29292933;
  border-color: transparent;
  border-radius: 20px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .navbar-header {
    margin-left: 130px;
  }
  .menu {
    position: absolute;
    z-index: 1;
    min-width: 20%;
    margin-left: 130px;
  }
  .navbar-inverse {
    margin-left: 0;
  }
}
.navbar-inverse .navbar-toggle {
  border: none;
}
.navbar-collapse {
  padding: 0;
}
</style>