<template>
    <div class="comment">
        <div class="content">
           
                
        <div class="author"><span class="material-icons">sentiment_very_satisfied</span><strong class="isim"> {{YorumlariGoster.isim}} {{YorumlariGoster.soyad}}</strong></div>

      <div class="text">{{YorumlariGoster.yorum}} </div>
      <hr>
    </div>
        </div>
    
</template>

<script>
export default {
    props:{
        YorumlariGoster:{
            required:true
        }
    }
}
</script>
<style  scoped>
.material-icons {
  align-self: baseline;
  text-shadow: 0px 1px 2px #505050;
  font-size: 22px;
  position: absolute;
  margin-top: 0px
}

hr{
    margin-top:10px;
    margin-bottom: 0;
    border-top:1px solid #6a80ff;
}
.author{
    font-size: 16px;
    color:#ddcc00
}
.isim{
    margin-left: 30px
}
</style>