<template>

    <div v-if="YorumGoster" class="ui messag">
      <div class="message"> {{message}} </div>
      <form v-if="goster" class="ui form"  @submit.prevent="YorumEkle">
        <div class="equal width fields">
          <div class="field">
            <label for="form-input-control-first-name">İsminiz</label>
            <div class="ui input">
              <input
               required
                v-model="yorumlar.isim"
                type="text"
                id="form-input-control-first-name"
                placeholder="İsminiz"
              />
            </div>
          </div>
          <div class="field">
            <label for="form-input-control-last-name">Soyisminiz</label>
            <div class="ui input">
              <input
               required
               v-model="yorumlar.soyad"
                type="text"
                id="form-input-control-last-name"
                placeholder="Soyisminiz"
              />
            </div>
          </div>
        </div>
        <div class="field">
          <label for="form-textarea-control-opinion">Görüş ve Önerileriniz</label>
          <textarea
          required
           v-model="yorumlar.yorum"
            id="form-textarea-control-opinion"
            placeholder="Yorumlarınız bizim için çok önemlidir."
            rows="3"
          ></textarea>
        </div>
        <div class="field">
          
          <button class="ui button">Yorumunu Gönder</button>
         
        </div>
      </form>
    </div>
</template>

<script>
export default {
  data(){
    return{
      goster:true,
      message:'',
      YorumGoster:true,
      yorumlar:{
        isim:null,
        soyad:null,
        yorum:null,
        masal_id:this.masal_id
      }
    }
  },
    methods:{
      YorumEkle(){
        this.$emit("yorumlar", this.yorumlar)
        this.message='Yorumunuz Başarılı bir şekilde Gönderilmiştir.'
        this.goster=false
      }
    },
    props:{
      masal_id:{
          required:true
      }
    },
    

}
</script>

<style  scoped>
.message{text-align: center;font-size:16px}
.ui.form .fields{
  display: block;
}
.ui.message{
   
    z-index: -1;
    background: #fff
}
.ui.button{
  background: #f5e507 none;
  margin-bottom: 5px;
  width: 100%;
}
</style>