<template>
    <div>
        <div class="slider ">
        <div class="slider-back">
           <a href="" @click.prevent="($router.push('/masal/' + slider.slug))">
               <img :src="'/uploads/'+ slider.selectedFiles" :alt="slider.title">
               </a>
                <div class="resim-yazi">
                  <h3>Editörün Seçimi</h3>
                </div>
        </div>
        
        </div>
    </div>
</template>

<script>
export default {
  props:{
    slider:{
      required:true
    }
  }
}
</script>

<style  scoped>
.slider-back img{height: 250px;};
.resim-yazi h3{text-align: center}
</style>