<template>
    <div class="container">
       <KatMasalList  :katmasallar='katmasallar' />
       <div class="kategoriYazi col-md-12 col-sm-12 col-xs-12">
        <Katdesc :kategoridesc='kategoriYazi' />
         </div>
    </div>
</template>
<script>
import KatMasalList from '@/components/Kategoriler/KatMasalList'
import Katdesc from '@/components/Kategoriler/Katdesc'
import axios from 'axios'
export default {
    components:{KatMasalList, Katdesc},
    head(){
    return{
      title:this.kateMasal.kategoriadi + ' okuma sitesi, ' +  this.kateMasal.kategoriadi + ' Kısa, uzun ve özeti oku',
      meta:[
        {
          hid:this.kateMasal.kategoriadi + ' okuma sitesi, ' + this.kateMasal.kategoriadi + ' Kısa, uzun ve özeti oku',
          name:this.kateMasal.kategoriadi,
          content:this.kateMasal.kategoridesc ,
           description: this.kategoriYazi
        }
      ]
    }
  },
    async asyncData(context) {
    let [pageRes, countRes] = await Promise.all([
      axios.get("http://localhost:3000/api/kategori/" + context.params.kategoriId),
      axios.get("http://localhost:3000/api/katdesc/" + context.params.kategoriId),
    ]);
      
    return {
      katmasallar: pageRes.data.katmasallar,
      kateMasal: countRes.data.katdesc[0],
      kategoriYazi: countRes.data.katdesc[0].kategoridesc
    };
  }

}
</script>

<style  scoped>
.kategoriYazi{color:white;font-size:16px;box-shadow: 0 3px 6px #29292933;padding:10px}
</style>