<template>
    <div>
        <MasalCard :Masal='Masallar' v-for="Masallar in Masallar" :key="Masallar.id"/>
    </div>
</template>

<script>
import MasalCard from '@/components/Masallar/MasalCard'
export default {
    components:{
        MasalCard
    },
    props:{
        Masallar:{
            required:true
        }
    }
}
</script>