<template>
    <div class="masal-card">
        <div class="col-md-3 col-sm-4 col-xs-12">
       <div class="title"><h3>{{Masal.title}}</h3></div>
       <hr>
        <a href="" @click.prevent="($router.push('/masal/' + Masal.slug))">
       <div class="resim"><img :src="'/uploads/'+ Masal.selectedFiles" :alt="Masal.title"></div>
        </a>
       <hr>
       <div class="yazi">{{Masal.title}} Masal ve hikayesi kısa, uzun, ve özeti oku.</div>
       <hr>
    </div>
    </div>
</template>

<script>
export default {
props:{
    Masal:{
        required:true
    }
}
}
</script>

<style scoped>
.masal-card{max-height:100px}
.title{
    white-space: nowrap; 

    overflow: hidden;
    text-overflow: ellipsis;
}
.title h3{text-align: center;color:white}
.yazi{text-align: center;color:white;
  white-space: nowrap; 

    overflow: hidden;
    text-overflow: ellipsis;}
    .resim img{width: 100%;height: 170px;}



    @media only screen and (max-width: 600px) {
   .resim img{width: 100%;height: 220px;}
}
</style>