<template>
    <div class="sonmasal col-md-12 col-sm-12 col-xs-6">
        <a href="" @click.prevent="($router.push('/masal/' + sonmasal.slug))">
         <div class="resim">
                 <img :src="'/uploads/'+ sonmasal.selectedFiles" :alt="sonmasal.title">
                
             </div>
             </a>
              <strong class="title">{{sonmasal.title}}</strong>
    </div>
</template>

                        
                        
<script>
export default {
     props:{
        sonmasal:{
            required:true
        }
    }
}
</script>

<style  scoped>

.sonmasal{
    background-color:#ddcc00;
    text-align: center;
    margin-top:10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px #29292933;
}
.resim{padding: 10px}
.resim img{width: 100%;border-radius: 10px;height: 120px;}
</style>