<template>
    
    <div v-html="kategoridesc">
       
    </div>
   
</template>

<script>
export default {
    props:{
        kategoridesc:{
            required:true
        }
    }
}
</script>

<style  scoped>

</style>