<template>
    <div>
    
       <KatMasalCard :katmasallar='katmasallar'  v-for="katmasallar in katmasallar" :key="katmasallar.id"/>
      <div class="col-md-12">
           
      </div>
    </div>
</template>
<script>
import KatMasalCard from '@/components/Kategoriler/KatMasalCard'
import Katdesc from '@/components/Kategoriler/Katdesc'
export default {
    components:{
        KatMasalCard,Katdesc
    },
    props:{
        katmasallar:{
            required:true
        }
    }
}
</script>