<template>
    <div class="KategoriList col-md-12-col-sm-12-col-xs-12">
        <hr>
         <form class="ui form">
            <div class="equal width fields">
              <div class="field">
                <label>Kategori Adı</label>
                <div class="ui fluid input">
                  <input :value="kategoriListesi.kategoriadi" required type="text" placeholder="Kırmızı Başlıklı kız" >
                  
                  
                </div>
              </div>
              <div class="field">
                <label>Kategori Yazı</label>
                <div class="ui fluid input">
                  <input :value="kategoriListesi.kategoridesc" required type="text" placeholder="Serkan Gökdere" />
                </div>
               {{kategoriListesi.id}}
              </div>
              <div class="field">
              <div class="menu transition">
               <div @click="kategoriDuzenle(kategoriListesi.id)" class="btn btn-primary">Düzenle</div>
               <div @click="kategoriSil(kategoriListesi.id)" class="btn btn-success">Sil</div>
              </div>
                <div class="menu transition">
                  
                </div>
              </div>
            </div>

           
            
          </form>
    </div>

  
</template>

<script>
import axios from 'axios'
export default {
      layout:'adminmasallar',
  props:{
    kategoriListesi:{
      required:true
    }
  },
  methods:{
    kategoriSil(id){
     axios.get("http://localhost:3000/api/kategorisil/" + id)
        .then(response => {});
        this.$router.push('/adminmasallar/detay')
    },
    kategoriDuzenle(id){
       axios.get("http://localhost:3000/api/kategoriduzenle/" + id)
        .then(response => {});
        this.$router.push('/adminmasallar/detay')
    },
    }
  
}
</script>

<style scoped>
.KategoriList{
    background-color: rgb(240, 248, 255);
    padding: 10px
}
.transition{
    float:right;
    margin-top:30px
}

</style>