<template>
    <div>
        <Adminheader />
        <detay/>
    </div>
</template>

<script>
import detay from '@/components/Admin/detay'
import Adminheader from '@/components/Admin/Adminheader'
import axios from 'axios'
export default {

    components:{
        detay,Adminheader
    },
    async asyncData(context) {
        let [pageRes, countRes] = await Promise.all([
      axios.get('http://localhost:3000/api/adminyorumlar'),
    ])
  
        return {
 
       adminyorumlar: pageRes.data.adminyorumlar
    }    

    },
}
</script>

<style  scoped>

</style>