<template>
     <div class="row">
        
        <div class="container">
           <div class="ust-menu">
     
   <div class="ui pointing menu">
         <nuxt-link to="/adminmasallar/detay" tag="a" exact active-class="active"  class="item">Masalllar.ORG</nuxt-link>
        <nuxt-link to="/adminmasallar/masal-ekle" tag="a" exact active-class="active"  class="item">Masal Ekle</nuxt-link>
          <nuxt-link to="/adminmasallar/kategoriekle" tag="a" exact active-class="active"  class="item">Kategori Ekle</nuxt-link>
        <div class="right menu">

             <nuxt-link to="/" tag="a" exact active-class="active"  class="item">
              <a href @click.prevent="CikisYap">Çıkış yap </a>
              </nuxt-link>
        </div>
      </div>

    </div>
        </div>
      </div>
</template>

<script>
export default {
    layout:'adminmasallar',
  methods:{
    CikisYap(){
      this.$store.dispatch('cikisyap')
      this.$router.push('/')
    }
  }
}
</script>

<style  scoped>
.ui .pointing .menu{
  position:fixed
}
</style>