<template>
    <div class="container">
        <div class="page-login">
      <div class="ui centered grid container">
        <div class="nine wide column">
          
          <div class="ui fluid card">
            <div class="content">
              <form class="ui form"  @submit.prevent>
                <div class="field">
                  <label>User</label>
                  <input type="text" name="user" placeholder="User" v-model="user.email"/>
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="password" name="pass" placeholder="Password" v-model="user.password" />
                </div>
                <button @click="setValue" class="ui primary labeled icon button" >
               
                        
                  <i class="unlock alternate icon"></i>
                  Login
                </button>
                 
                 
              </form>
               
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    layout:'adminmasallar',
    data(){
      return{
        user:{
          email:null,
          password:null
        },
        storegeValue:null,
          getValuee:null
      }
  },
  methods:{
      setValue(){
        axios.post('https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=AIzaSyCaA0lN3GQrCq9XK4BkIjhBZZ0TcmUZH7I',{
         email: this.user.email, password: this.user.password, returnSecureToken: true
        })
        .then((response) => {
          this.$store.dispatch('login', response.data.idToken)
          this.$router.push('/adminmasallar/masal-ekle')
         

        })
          
      },
      getValue(){
          this.getValuee = localStorage.getItem('adminkey')
          this.getValuee = Cookie.get('adminkey')
      }
  }
}
</script>

<style  scoped>
.page-login{
    position: relative;
    margin-top: 10%
}
</style>