<template>
  <div>
    <Adminheader />
    <div class="kategori-ekle">
      
    <form class="ui form" @submit.prevent='KategorileriEkle'>
      <div class="equal width fields">
        <div class="field">
          <label>Kategori Adi</label>
          <div class="ui fluid input">
            <input v-model="Kategoriekle.kategoriadi" type="text" placeholder="Masallar" />
          </div>
        </div>
        
      </div>
      
    
    <div class="field">
          <div class="editor">
          <div
            class="quill-editor"
             v-model="Kategoriekle.kategoridesc"
            :content="content"
           
            v-quill:myQuillEditor="editorOption"
          ></div>
        </div>
        </div>
        <div class="field">
        <button class="btn btn-success">Kategori Ekle</button>
      </div>
        </form>
        
  </div>
 
  </div>
</template>

<script>
  import Adminheader from '@/components/Admin/Adminheader'

export default {
components:{Adminheader},
  middleware:  'admin-sesion-control, Autor,',
  layout:'adminmasallar',
  data() {
    return {
       Kategoriekle:{
            kategoriadi:null,
            kategoridesc:null,
            slug:this.kategoriadi
       },
      content: "",
      editorOption: {
        theme: "snow",
        modules: {
          toolbar: [
            ["bold", "italic", "underline", "strike"],
            ["blockquote", "code-block"],
            [{ header: 1 }, { header: 2 }], // custom button values
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }], // superscript/subscript
            [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
            [{ direction: "rtl" }], // text direction

            [{ size: ["small", false, "large", "huge"] }], // custom dropdown
            [{ header: [1, 2, 3, 4, 5, 6, false] }],

            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ font: [] }],
            [{ align: [] }]
          ]
        }
      }
    }
  },
  methods:{
      KategorileriEkle(Kategoriekle){
          this.$emit('Kategoriekle', this.Kategoriekle)
      }
  },
  
};
</script>

<style scoped>
.kategori-ekle {
  background-color: aliceblue;
  padding: 10px;
  margin-top: 10px;
}
.quill-editor {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}
</style>