<template>
  <div class="row">
    <div class="container">
      <Adminheader />
      <div class="masal-ekle">
        <div class="editor">
          <div
            class="quill-editor"
            v-model="Masal.text"
            :content="content"
           
            v-quill:myQuillEditor="editorOption"
          ></div>
        </div>
        <hr />
        <div class="form" @submit.prevent="onSubmit">
          <form class="ui form">
            <div class="equal width fields">
              <div class="field">
                <label>Masal Başlık</label>
                <div class="ui fluid input">
                  <input v-model="Masal.title" required type="text" placeholder="Kırmızı Başlıklı kız" />
                </div>
              </div>
              <div class="field">
                <label>Yazar</label>
                <div class="ui fluid input">
                  <input required v-model="Masal.yazar" type="text" placeholder="Serkan Gökdere" />
                </div>
              </div>
              <div class="field">
                <label>Kategori</label>
              <div class="menu transition">
                <select required v-model="Masal.kategori_id" class="Kate">
                  <option
                    v-for="kategori in kategori"
                    :value="kategori.id"
                    :key="kategori.id"
                  >{{kategori.kategoriadi}}</option>
                </select>
              </div>
                <div class="menu transition">
                  
                </div>
              </div>
            </div>

            <div class="fields">
              <input class="ekle" type="file" ref="file" @change="onSelect" />
            </div>

            <div v-if="goster" class="message">
              <h5> {{message}} </h5>
            </div>
            <div class="dsaasd"></div>
            <div class="field">
              <button ref="file" type="file" class="ui button">Masal Ekle</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Adminheader from '@/components/Admin/Adminheader'
export default {
  components:{Adminheader},
  middleware:[ 'admin-sesion-control', "Autor", ],
  layout: "adminmasallar",
  data() {
    return {
      image:null,
      goster:false,
      message:'',
      Masal: {
        title: null,
        text: null,
        yazar: 'Masallar.org',
        subtitle:null,
        selectedFiles: null,
        slug: this.title,
        kategori_id: null,
        date: null
      },
      content: "",
      editorOption: {
        theme: "snow",
        modules: {
          toolbar: [
            
            [{ header: 1 }, { header: 2 }], // custom button values
            [{ list: "ordered" }, { list: "bullet" }],
            [{ script: "sub" }, { script: "super" }], // superscript/subscript
            [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
            [{ direction: "rtl" }], // text direction
              ["bold", "italic", "underline", "strike"],
            ["blockquote", "code-block","link", "image" ],
            [{ size: ["small", false, "large", "huge"] }], // custom dropdown
            [{ header: [1, 2, 3, 4, 5, 6, false] }],

            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ font: [] }],
            [{ align: [] }],
            []
          ]
        }
      }
    };
  },


  props:{
    kategori:{
      reguired:true
    }
  },
  methods: {
  
    onSubmit(Masal) {
      this.$emit('Masal' ,this.Masal)
      this.message='Başarı bir Şekilde Eklenmiştir.'
      this.goster=true
    },
    onSelect(e){
        const file = e.target.files[0]
        this.file = file
        const formData = new FormData();
      formData.append("file", this.file);
      axios.post("http://localhost:5000/upload", formData)
      .then(res => {
      
      
        let resimuzanti = res.data.file.filename
        this.Masal.selectedFiles= resimuzanti 
        
      });
    }

  }
};
</script>

<style  scoped>
.quill-editor {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}
.masal-ekle {
  margin-top: 10px;
  background-color: aliceblue;
  padding: 10px;
}
.ekle {
  background: aliceblue !important;
}
</style>