<template>

    <div class="container">
    <div class="masallar col-md-12">
    
      <div class="appdefault">
        <div class="col-md-5 col-sm-6 col-xs-12">
        <Slider :slider='slider'/>
        </div>
        <div class="yazi col-md-7 col-sm-6 col-xs-12">
          <h1><span class="masal">Masal</span>   ve <span class="Hikaye">Hikaye</span> okumanın çocuklar için etkisi</h1>
          <h4>Erken yaşta masal dinlemeye başlayan çocukların dil becerileri daha hızlı gelişir, daha çok sayıda kelime öğrenirler ve bu kelimeleri kullanırlar. Ayrıca dikkatleri ve hafızaları da gelişir. Masal dinleyen çocuklar kitap okuma alışkanlığını da kolay kazanırlar. </h4>
          
        </div>
      </div>
       
        <div class="masallarList">
          <MasallarList :Masallar='Masallar' />  
 
    </div>
    </div>
    
  </div>
   

   


</template>

<script>
import Slider from '@/components/Slider'
import MasallarList from '@/components/Masallar/MasallarList'
import axios from 'axios'
export default {
  components: {Slider, MasallarList},
  async asyncData(context) {
    let [pageRes, countRes] = await Promise.all([
      axios.get("http://localhost:3000/api/"),
      axios.get("http://localhost:3000/api/slider"),
    ]);
     
    return {
      Masallar: pageRes.data.Masal,
      slider: countRes.data.slider[0]
     
    };
  }
};
</script>

<style>
.Hikaye{
  color:tomato
}
.masal{
  color:yellow
}
.masallarList{
position: relative;
top:-180px
}
.resim-yazi{
  background-color: yellow;
  position: absolute;
 padding: 5px;
 border-radius: 10px;
   box-shadow: 0 3px 6px #29292933;
   color:#5d5c5c;
   text-align: center
  
}
.masallar{
  margin-top:30px;
}

.appdefault {
  background-image: url("~@/assets/back.svg");
 background-repeat: repeat-y;
 background-position:right;
background-size: 600px;
min-height: 500px;
z-index: -1;

  
  
}
.yazi{
  color:white;

  text-align: center;
  text-shadow: 0 3px 6px #29292933;
  
}
.slider-back{
  width: 100%;
  height: 100%;
  background-color: yellow;
  border-radius: 20px;
  
   display: flex;
  justify-content: center;
}
.slider-back img{
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px
 
}

</style>
